In [ ]:
import pandas as pd

In [ ]:
fall = [19685, 19053, 19180, 19379, 19135, 18465, 17505, 17516]
winter = [18824, 17962, 18621, 18604, 18647, 17865, 17170, 17109]
spring = [17116, 17601, 17814, 17849, 17187, 16581, 16522]
summer = [1593, 1671, 1238, 1087, 917, 813, 736, 746]

fallDates = ['October 2021', 'October 2020', 'October 2019', 'October 2018', 'October 2017', 'October 2016', 'October 2015', 'October 2014']
winterDates = ['January 2022', 'January 2021', 'January 2020', 'January 2019', 'January 2018', 'January 2017', 'January 2016', 'January 2015']
springDates = ['April 2021', 'April 2020', 'April 2019', 'April 2018', 'April 2017', 'April 2016', 'April 2015']
summerDates = ['July 2021', 'July 2020', 'July 2019', 'July 2018', 'July 2017', 'July 2016', 'July 2015', 'July 2014']

In [ ]:
fallData = pd.DataFrame(
    {'month': fallDates,
     'price': fall,
     'quarter': 'fall'
    })
winterData = pd.DataFrame(
    {'month': winterDates,
     'price': winter,
    'quarter': 'winter',
    })
springData = pd.DataFrame(
    {'month': springDates,
     'price': spring,
     'quarter': 'spring'
    })
summerData = pd.DataFrame(
    {'month': summerDates,
     'price': summer,
     'quarter': 'summer'
    })

In [ ]:
frames = [fallData, winterData, springData, summerData]
result = pd.concat(frames)
df = result.reset_index(drop=True)
len(df)

31

In [ ]:
df['month'] = pd.to_datetime(df['month']).dt.to_period('M')

In [ ]:
df = df.set_index('month').resample('M').interpolate()

In [ ]:
len(df)

91

In [ ]:
df = df.drop('quarter', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
df.tail

<bound method NDFrame.tail of                 price
month
2014-07    746.000000
2014-08   6336.000000
2014-09  11926.000000
2014-10  17516.000000
2014-11  17380.333333
...               ...
2021-09  13654.333333
2021-10  19685.000000
2021-11  19398.000000
2021-12  19111.000000
2022-01  18824.000000

[91 rows x 1 columns]>

In [ ]:
df.to_csv('monthly_enrollment_data')

In [ ]:
# For median household income
median = [64257, 64841, 75929, 76633, 84213, 85770, 93015, 100179]
year = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [ ]:
df = pd.DataFrame(
    {'year': year,
     'income': median,
    })

In [ ]:
df['year'] = pd.to_datetime(df['year']).dt.to_period('Y')

In [ ]:
df = df.set_index('year').resample('M').interpolate()

In [ ]:
df.size

96

In [ ]:
df.to_csv('monthly_median_household_income_data')

In [ ]:
df = pd.read_csv('export.csv')
df.label = pd.to_datetime(df.label, format='%Y')

In [ ]:
# df = df.set_index('label').resample('M').interpolate()
(df.set_index('label').resample('M').bfill().reset_index()).to_csv('data.csv')
# df.tail

In [ ]:
df.to_csv('monthly_population.csv')

In [ ]:
df.size

337

In [ ]:
df.to_csv('monthly_median_household_income_data')

In [ ]:
from google.colab import files
files.download("sample.csv")

FileNotFoundError: ignored

In [ ]:
import pandas as pd
list1 = ['December 2021','December 2020','December 2019','December 2018','December 2017','December 2016','December 2015','December 2014']
list2 = [64503,62956,64522,64725,64860,64452,64119,63197]


df1 = pd.DataFrame (list1, columns = ['date'])
df2 = pd.DataFrame (list2, columns = ['population'])
df1 = pd.to_datetime(df1.date).dt.to_period('M')

In [ ]:
df = pd.DataFrame(
    {'date': df1,
     'population': list2,
    })
df

      date  population
0  2021-12       64503
1  2020-12       62956
2  2019-12       64522
3  2018-12       64725
4  2017-12       64860
5  2016-12       64452
6  2015-12       64119
7  2014-12       63197

In [ ]:
df.set_index('date').resample('M').interpolate()

           population
date
2014-12  63197.000000
2015-01  63273.833333
2015-02  63350.666667
2015-03  63427.500000
2015-04  63504.333333
...               ...
2021-08  63987.333333
2021-09  64116.250000
2021-10  64245.166667
2021-11  64374.083333
2021-12  64503.000000

[85 rows x 1 columns]

In [ ]:
df = df.set_index('date').resample('M').interpolate()
df.to_csv('monthly_population.csv')

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

In [ ]:
df.columns

Index(['month', 'median rent(1bed)', 'median rent(2bed)', 'median rent(3bed)'], dtype='object')

In [ ]:
df.month = pd.to_datetime(df.month).dt.to_period('M')
# df = df.set_index('month')

In [ ]:
# months = [g for n, g in df.index.groupby(pd.Grouper(key='Index',freq='M'))]
# df.month[0].dt.month

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:5477: FutureWarning: Allowing scalars in the Categorical constructor is deprecated and will raise in a future version.  Use `[value]` instead
  values = Categorical(values)

TypeError: ignored

In [ ]:
df.month[0].month

11

In [ ]:
jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec = [],[],[],[],[],[],[],[],[],[],[],[],

In [ ]:
for i in df.index:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [ ]:
df.iloc[0]

month                2014-11
median rent(1bed)       1785
median rent(2bed)       2300
median rent(3bed)        NaN
Name: 0, dtype: object

In [ ]:
(df[(df['month'].dt.month == 1)]).to_csv("jan.csv")
(df[(df['month'].dt.month == 2)]).to_csv("feb.csv")
(df[(df['month'].dt.month == 3)]).to_csv("mar.csv")
(df[(df['month'].dt.month == 4)]).to_csv("apr.csv")
(df[(df['month'].dt.month == 5)]).to_csv("may.csv")
(df[(df['month'].dt.month == 6)]).to_csv("jun.csv")
(df[(df['month'].dt.month == 7)]).to_csv("jul.csv")
(df[(df['month'].dt.month == 8)]).to_csv("aug.csv")
(df[(df['month'].dt.month == 9)]).to_csv("sep.csv")
(df[(df['month'].dt.month == 10)]).to_csv("oct.csv")
(df[(df['month'].dt.month == 11)]).to_csv("nov.csv")
(df[(df['month'].dt.month == 12)]).to_csv("dec.csv")