In [ ]:
import os
import requests
from bs4 import BeautifulSoup
import glob
import errno
import pandas as pd

In [ ]:
URL = "https://www.datasharescc.org/demographicdata?id=281&sectionId=936"
r = requests.get(URL)
soup = BeautifulSoup(r.content, 'html5lib')

In [ ]:
tables = (soup.find_all('table'))

In [ ]:
# Getting the data
table0 = []
table1 = []
table2 = []
table3 = []

for i in range(len(tables)):
  rows = tables[i].find("tbody").find_all("tr")
  count = 0
  data = []

  for j in range(len(rows)):
    rowData = rows[j].find_all("td")

    for k in range(len(rowData)):
      data.append(rowData[k].text)
    
    if i==0:
      table0.append(data)
    if i==1:
      table1.append(data)
    if i==2:
      table2.append(data)
    if i==3:
      table3.append(data)

    data=[]

In [ ]:
# Cleaning the data
def cleanData(table):
  for i in range(len(table)):
    for j in range(len(table[i])):
      table[i][j] = (table[i][j].strip()).replace("\n", "")

cleanData(table0)
cleanData(table1)
cleanData(table2)
cleanData(table3)

In [ ]:
df0 = pd.DataFrame(table0)
df1 = pd.DataFrame(table1)
df2 = pd.DataFrame(table2)
df3 = pd.DataFrame(table3)

In [ ]:
print(df0)
print(df1)
print(df2)
print(df3)

print(table0)
print(table1)
print(table2)
print(table3)

           0       1       2          3       4
0   1-Person  26,825  27.58%  3,152,592  23.56%
1   2-Person  31,117  31.99%  3,820,854  28.56%
2   3-Person  15,357  15.79%  2,200,381  16.45%
3   4-Person  12,220  12.56%  1,954,564  14.61%
4   5-Person   5,883   6.05%  1,121,318   8.38%
5   6-Person   2,944   3.03%    573,492   4.29%
6  7+ Person   2,931   3.01%    556,627   4.16%
                      0       1       2          3       4
0         Under $15,000   6,024   6.19%    974,219   7.28%
1     $15,000 - $24,999   6,074   6.24%    829,565   6.20%
2     $25,000 - $34,999   5,884   6.05%    835,405   6.24%
3     $35,000 - $49,999   7,892   8.11%  1,252,257   9.36%
4     $50,000 - $74,999  11,512  11.83%  1,873,753  14.00%
5     $75,000 - $99,999  10,493  10.79%  1,596,412  11.93%
6   $100,000 - $124,999   9,344   9.61%  1,338,572  10.00%
7   $125,000 - $149,999   7,876   8.10%  1,065,152   7.96%
8   $150,000 - $199,999  10,805  11.11%  1,307,926   9.78%
9   $200,000 - $249,999   6,521   6.70%    758,660   5.67%
10  $250,000 - $499,999   8,230   8.46%    876,154   6.55%
11            $500,000+   6,622   6.81%    671,753   5.02%
                                  0         1         2
0                               All  $147,733  $129,700
1                             White  $126,295  $113,625
2            Black/African American   $98,042   $82,755
3    American Indian/Alaskan Native  $100,770   $85,459
4                             Asian  $112,691  $129,779
5  Native Hawaiian/Pacific Islander  $151,133  $103,177
6                   Some Other Race   $86,104   $81,400
7                          2+ Races  $114,706  $109,235
8                   Hispanic/Latino  $107,522   $95,285
9               Non-Hispanic/Latino  $159,877  $144,334
                                  0         1         2
0                               All  $102,032   $89,481
1                             White  $110,533   $94,340
2            Black/African American   $73,026   $63,202
3    American Indian/Alaskan Native   $78,816   $67,051
4                             Asian   $90,140  $116,313
5  Native Hawaiian/Pacific Islander  $121,154   $89,942
6                   Some Other Race   $71,020   $66,508
7                          2+ Races   $91,548   $90,898
8                   Hispanic/Latino   $72,464   $69,970
9               Non-Hispanic/Latino  $113,406  $100,660
[['1-Person', '26,825', '27.58%', '3,152,592', '23.56%'], ['2-Person', '31,117', '31.99%', '3,820,854', '28.56%'], ['3-Person', '15,357', '15.79%', '2,200,381', '16.45%'], ['4-Person', '12,220', '12.56%', '1,954,564', '14.61%'], ['5-Person', '5,883', '6.05%', '1,121,318', '8.38%'], ['6-Person', '2,944', '3.03%', '573,492', '4.29%'], ['7+ Person', '2,931', '3.01%', '556,627', '4.16%']]
[['Under $15,000', '6,024', '6.19%', '974,219', '7.28%'], ['$15,000 - $24,999', '6,074', '6.24%', '829,565', '6.20%'], ['$25,000 - $34,999', '5,884', '6.05%', '835,405', '6.24%'], ['$35,000 - $49,999', '7,892', '8.11%', '1,252,257', '9.36%'], ['$50,000 - $74,999', '11,512', '11.83%', '1,873,753', '14.00%'], ['$75,000 - $99,999', '10,493', '10.79%', '1,596,412', '11.93%'], ['$100,000 - $124,999', '9,344', '9.61%', '1,338,572', '10.00%'], ['$125,000 - $149,999', '7,876', '8.10%', '1,065,152', '7.96%'], ['$150,000 - $199,999', '10,805', '11.11%', '1,307,926', '9.78%'], ['$200,000 - $249,999', '6,521', '6.70%', '758,660', '5.67%'], ['$250,000 - $499,999', '8,230', '8.46%', '876,154', '6.55%'], ['$500,000+', '6,622', '6.81%', '671,753', '5.02%']]
[['All', '$147,733', '$129,700'], ['White', '$126,295', '$113,625'], ['Black/African American', '$98,042', '$82,755'], ['American Indian/Alaskan Native', '$100,770', '$85,459'], ['Asian', '$112,691', '$129,779'], ['Native Hawaiian/Pacific Islander', '$151,133', '$103,177'], ['Some Other Race', '$86,104', '$81,400'], ['2+ Races', '$114,706', '$109,235'], ['Hispanic/Latino', '$107,522', '$95,285'], ['Non-Hispanic/Latino', '$159,877', '$144,334']]
[['All', '$102,032', '$89,481'], ['White', '$110,533', '$94,340'], ['Black/African American', '$73,026', '$63,202'], ['American Indian/Alaskan Native', '$78,816', '$67,051'], ['Asian', '$90,140', '$116,313'], ['Native Hawaiian/Pacific Islander', '$121,154', '$89,942'], ['Some Other Race', '$71,020', '$66,508'], ['2+ Races', '$91,548', '$90,898'], ['Hispanic/Latino', '$72,464', '$69,970'], ['Non-Hispanic/Latino', '$113,406', '$100,660']]

In [ ]:
# If you want to export csv:

df3.columns =['column0 name', 'column1 name', 'column2 name']
df3.to_csv('name of the csv file to create', encoding='utf-8', index=False)

In [ ]:
"""
What I did to get the zumper data
"""

# dir_path = 'sc_rent_data/'
# files = ['1bed', '2bed', '3bed', 'studio']

# house_type = []
# prices = []
# dates = []

# for name in files:
#   with open(dir_path + name + '.html') as f:

#       soup = BeautifulSoup(f, "html.parser")
#       table = (soup.find('div', attrs = {'id':'price-table-tabpanel'})).find('table')
#       rows = table.findChildren(['td'])
      
#       for i in range(len(rows)):
#         if i%2 == 0:
#           house_type.append(name)
#           dates.append(rows[i].text)
#         else:
#           prices.append(((rows[i].text)[1:]).replace(',', ''))

'\nWhat I did to get the zumper data\n'