In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
# df = pd.read_csv('/content/drive/MyDrive/zumper_sc_rent_data')
df = pd.read_csv('/content/drive/Shareddrives/Math140Project/zumper_sc_rent_data')

In [ ]:
print(df)

       type          month  median rent
0      1bed  November 2014         1785
1      1bed  December 2014         1703
2      1bed   January 2015         1711
3      1bed  February 2015         1850
4      1bed     March 2015         1781
..      ...            ...          ...
330  studio  December 2021         1150
331  studio   January 2022         1716
332  studio  February 2022         2124
333  studio     March 2022         2396
334  studio     April 2022         2449

[335 rows x 3 columns]